<template>
  <v-layout
    class="imgContainer"
    :style="$vuetify.breakpoint.lgAndUp ? 'height: 300px;' : 'height: 150px;'"
  >
    <v-container
      fluid
      :class="$vuetify.breakpoint.lgAndUp ? 'd-flex align-center' : ''"
    >
      <v-row>
        <v-col
          cols="12"
          sm="12"
          class="d-flex flex-column"
          style="height: 100%"
        >
          <div
            class="secondary--text text-uppercase font-weight-black"
            :class="
              $vuetify.breakpoint.lgAndUp ? 'text-h2' : 'text-h3 text-center'
            "
          >
            Nuestro
          </div>
          <div
            class="primary--text text-uppercase font-weight-black"
            :class="
              $vuetify.breakpoint.lgAndUp ? 'text-h1' : 'text-h2 text-center'
            "
          >
            Estadio
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {}
</script>

<style scoped>
.imgContainer {
  background-image: url('~/assets/img/contacto/bg.png');
  background-size: cover;
  width: 100vw;
}
</style>
