<template>
  <v-layout>
    <v-container fluid :class="$vuetify.breakpoint.lgAndUp ? 'py-12' : ''">
      <v-row>
        <v-col cols="12" sm="12" md="6" class="px-8">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d259.1097098556253!2d-74.21645848616595!3d-13.167453162584879!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9112876192e1ac91%3A0xf1e0d1f45c7cefbb!2sJiron%20Coronel%20Alfonso%20Ugarte%20280%2C%20Ayacucho%2005002!5e0!3m2!1ses-419!2spe!4v1629743229369!5m2!1ses-419!2spe"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </v-col>
        <v-col cols="12" sm="12" md="6" class="d-flex flex-column px-8">
          <div class="primary--text text-uppercase font-weight-black text-h4">
            Jr. Alfonso Ugarte N° 280
          </div>
          <div class="primary--text text-uppercase font-weight-black text-h4">
            Distrito San Juan Bautista
          </div>
          <div
            class="
              pt-2
              secondary--text
              text-uppercase
              font-weight-black
              text-h6
            "
          >
            DISTRITO SAN JUAN BAUTISTA <br />
            REF. COLEGIO SAN JUAN O LOSA DEPORTIVA DE LEÓN PAMPA <br />
            TOMAR RUTA 12 O 21
          </div>
          <hr />
          <div class="secondary--text text-uppercase font-weight-black text-h5">
            Horario de Atención:
          </div>
          <div class="py-2 secondary--text text-subtitle-1 font-weight-medium">
            Lunes - Miércoles - Jueves - Viernes <br />
            11:00 a.m. - 04:00 p.m.
          </div>
          <div class="py-2 secondary--text text-subtitle-1 font-weight-medium">
            Sábados - Domingos <br />
            11:00 a.m. - 04:00 p.m.
          </div>
          <div
            class="py-4 primary--text text-uppercase font-weight-bold text-h4"
          >
            Pedidos
          </div>
          <div class="d-flex secondary--text font-weight-bold text-h6">
            <div :class="$vuetify.breakpoint.lgAndUp ? 'pr-4' : 'pr-2'">
              <v-icon left>mdi-phone</v-icon>
              925 200 562
            </div>
            <div :class="$vuetify.breakpoint.lgAndUp ? 'px-4' : 'pl-2'">
              <v-icon left color="green">mdi-whatsapp</v-icon>
              925 200 562
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {}
</script>

<style scoped>
hr {
  border: none;
  height: 4px;
  background: black;
  margin-top: 12px;
  margin-bottom: 12px;
}
</style>
