<template>
  <span>
    <v-card-title>Confirmación de Pedido</v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-container class="d-flex flex-column">
        <v-container fluid class="d-flex justify-space-around mx-4">
          <div class="font-weight-bold text-h6">Total</div>
          <div class="font-weight-bold text-h6">S/ {{ getTotal }}</div>
        </v-container>
        <v-btn text @click="changeDialog('DialogPago')">Regresar</v-btn>
        <v-btn color="secondary" class="my-2" @click="sendPedido"
          ><v-icon left large color="green" class="mx-4">mdi-whatsapp</v-icon>
          Confirmar pedido</v-btn
        >
        <v-subheader class="text-caption"
          >* Al hacer click en el botón se te enviará a la página de
          Whatsapp</v-subheader
        >
      </v-container>
    </v-card-text>
  </span>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      listaPedidos: 'getListaPedidos'
    }),

    getTotal() {
      let res = this.listaPedidos.reduce(
        (acc, cv) => acc + parseInt(cv.cantidad) * parseInt(cv.precio),
        0
      )
      return res + '.00'
    }
  },

  methods: {
    sendPedido() {
      let texto = 'Hola, quisiera hacer un pedido de:\n'
      texto += this.listaPedidos
        .map((el) => '- ' + el.cantidad + ' ' + el.nombre)
        .join('\n')
      let url = 'https://api.whatsapp.com/send?phone=51925200562&text=' + texto
      let sendURI = encodeURI(url)
      window.open(sendURI, '_blank')
    },

    ...mapMutations({
      changeDialog: 'setDialogView'
    })
  }
}
</script>

<style>
</style>
