<template>
  <span>
    <v-card-title>Información de Pago</v-card-title>
    <v-divider></v-divider>
    <v-card-text style="height: 500px; overflow-y: auto">
      <div class="text-center text-h6 font-weight-light mb-2">
        Tienes <b>3 formas</b> de hacerlo y es muy fácil:
      </div>
      <v-divider></v-divider>
      <div class="d-flex flex-column ma-2">
        <div class="font-weight-bold text-h6">1. Yape/Plin</div>
        <div class="font-weight-light text-body-1">
          Descarga la app y escanea el código QR:
        </div>
        <div class="d-flex justify-center">
          <v-img
            contain
            max-width="350px"
            :src="require('~/assets/img/dialog/qr.png')"
          ></v-img>
        </div>
      </div>
      <v-divider></v-divider>
      <div class="d-flex flex-column ma-2">
        <div class="font-weight-bold text-h6">2. Transferencias</div>
        <v-container class="d-flex flex-column">
          <div class="d-flex flex-row my-2">
            <v-img
              contain
              max-width="70px"
              :src="require('~/assets/img/dialog/bcp.png')"
            ></v-img>
            <div class="d-flex flex-column mx-2">
              <div>CC: 22036325326049</div>
              <div>CCI: 00222013632532604922</div>
            </div>
          </div>
          <div class="d-flex flex-row my-2">
            <v-img
              contain
              max-width="70px"
              :src="require('~/assets/img/dialog/bbva.png')"
            ></v-img>
            <div class="d-flex flex-column mx-2">
              <div>CC: 0011 0202 0200465332</div>
              <div>CCI: 011 202 000200465332 91</div>
            </div>
          </div>
        </v-container>
        <!-- <v-img></v-img> -->
      </div>
      <v-divider></v-divider>
      <div class="d-flex flex-column ma-2">
        <div class="font-weight-bold text-h6">3. Pago Contraentrega</div>
      </div>
      <v-divider></v-divider>
      <div class="d-flex flex-column align-center ma-2">
        <div class="text-subtitle-1">
          Titular: <b>Tello Ataucusi Dina Soledad</b>
        </div>
        <div class="text-subtitle-2">
          <b>NOTA: </b>Debes enviarnos el <b>voucher de pago</b> al confirmar el
          pedido.
        </div>
      </div>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions class="d-flex justify-center">
      <v-btn text @click="changeDialog('DialogResumen')">Regresar</v-btn>
      <v-btn
        color="secondary"
        class="my-2"
        @click="changeDialog('DialogConfirmacion')"
        >Continuar mi pedido</v-btn
      >
    </v-card-actions>
  </span>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  methods: {
    ...mapMutations({
      changeDialog: 'setDialogView'
    })
  }
}
</script>

<style>
</style>
