<template>
  <span>
    <v-card-title>Mi pedido</v-card-title>
    <v-divider></v-divider>
    <v-card-text
      style="max-height: 400px; min-height: 150px"
      class="d-flex align-center justify-center"
    >
      <template v-if="listaPedidos.length">
        <v-container fluid class="py-0">
          <template v-for="(item, index) in listaPedidos">
            <v-row no-gutters style="flex-wrap: nowrap">
              <v-col
                cols="2"
                class="flex-grow-0 flex-shrink-0 d-flex align-center"
              >
                <v-btn
                  x-small
                  icon
                  color="error"
                  :disabled="item.cantidad === 1"
                  class="mr-2"
                  @click="changeCantidadPedido(index, item.cantidad - 1)"
                  ><v-icon>mdi-minus</v-icon></v-btn
                >
                {{ item.cantidad }}
                <v-btn
                  x-small
                  icon
                  color="success"
                  class="ml-2"
                  @click="changeCantidadPedido(index, item.cantidad + 1)"
                  ><v-icon>mdi-plus</v-icon></v-btn
                >
              </v-col>
              <v-col
                cols="2"
                style="min-width: 225px; max-width: 100%"
                class="
                  flex-grow-1 flex-shrink-0
                  d-flex
                  justify-center
                  align-center
                  text-body-2
                  px-4
                  font-weight-medium
                  text-center
                "
              >
                {{ item.nombre }}
              </v-col>
              <v-col
                cols="5"
                style="min-width: 100px"
                class="
                  flex-grow-0 flex-shrink-1
                  d-flex
                  justify-end
                  align-center
                "
              >
                <div>S/ {{ getItemPrecio(item.cantidad, item.precio) }}</div>
                <v-btn
                  icon
                  color="error"
                  class="mx-4"
                  @click="removePedidoElegido(index)"
                  ><v-icon>mdi-delete</v-icon></v-btn
                >
              </v-col>
            </v-row>
            <v-divider
              class="my-2"
              v-if="index < listaPedidos.length - 1"
            ></v-divider>
          </template>
        </v-container>
      </template>
      <template v-else>
        <div
          class="d-flex align-center justify-center text-h6 font-weight-light"
          style="height: 100%"
        >
          <v-icon left>mdi-basket</v-icon> No tienes pedidos agregados
        </div>
      </template>
    </v-card-text>
    <template v-if="listaPedidos.length">
      <v-divider></v-divider>
      <v-card-actions class="d-flex flex-column">
        <v-container fluid class="d-flex justify-space-around mx-4">
          <div class="font-weight-bold text-h6">Total</div>
          <div class="font-weight-bold text-h6">S/ {{ getTotal }}</div>
        </v-container>
        <v-btn
          color="secondary"
          class="my-2"
          @click="changeDialog('DialogPago')"
          >Continuar mi pedido</v-btn
        >
      </v-card-actions>
    </template>
  </span>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      listaPedidos: 'getListaPedidos'
    }),

    getTotal() {
      let res = this.listaPedidos.reduce(
        (acc, cv) => acc + parseInt(cv.cantidad) * parseInt(cv.precio),
        0
      )
      return res + '.00'
    }
  },

  methods: {
    ...mapMutations({
      changeCantidad: 'changeCantidadPlato',
      removePedidoElegido: 'removePedido',
      changeDialog: 'setDialogView'
    }),

    changeCantidadPedido(index, cantidad) {
      this.changeCantidad({
        index,
        cantidad
      })
    },

    getItemPrecio(cantidad, precioStr) {
      return parseInt(cantidad) * parseInt(precioStr) + '.00'
    }
  }
}
</script>

<style>
</style>
