<template>
  <div>
    <LayoutDrawer v-model="drawer" :items="pages" />
    <v-app-bar app :color="bgColor" elevate-on-scroll id="home-app-bar">
      <v-img
        class="hidden-sm-and-down"
        max-width="50px"
        contain
        :src="getLogo"
      ></v-img>

      <div>
        <v-tabs class="hidden-sm-and-down" color="primary" slider-size="4">
          <v-tab
            v-for="(page, i) in pages"
            :key="i"
            :to="page.path"
            :exact="page.name === 'Inicio'"
            :ripple="false"
            class="font-weight-medium text-capitalize text-body-1"
            text
            >{{ page.name }}</v-tab
          >
        </v-tabs>
      </div>

      <v-app-bar-nav-icon class="hidden-md-and-up" @click="drawer = !drawer" />
      <v-spacer></v-spacer>
      <v-badge overlap bordered :content="counter" :value="counter" top>
        <v-btn color="primary" depressed outlined @click="showDialog"
          >Ver Pedidos<v-icon right>mdi-cart-outline</v-icon></v-btn
        >
      </v-badge>
    </v-app-bar>
    <LayoutPedidos v-model="dialog" />
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  data() {
    return {
      pages: [
        {
          name: 'Inicio',
          path: '/'
        },
        {
          name: 'La Carta',
          path: '/carta'
        },
        {
          name: 'Nosotros',
          path: '/nosotros'
        },
        {
          name: 'Contacto',
          path: '/contacto'
        }
      ],
      bgColor: 'transparent',
      drawer: null
    }
  },
  methods: {
    changeColor() {
      if (
        document.body.scrollTop > 0 ||
        document.documentElement.scrollTop > 0
      ) {
        this.bgColor = 'white'
      } else {
        this.bgColor = 'transparent'
      }
    },

    ...mapMutations({
      showDialog: 'showResumenDialog'
    })
  },

  computed: {
    getLogo() {
      return require('~/assets/img/logo/logo-icon.png')
    },

    dialog: {
      get() {
        return this.dialogWindow
      },

      set() {
        this.showDialog()
      }
    },

    ...mapGetters({
      counter: 'getListaPedidosCounter',
      dialogWindow: 'showDialog'
    })
  },

  mounted() {
    window.onscroll = () => {
      this.changeColor()
    }
  }
}
</script>

<style lang="sass">
#home-app-bar
  .v-tab
    &::before
      background-color: transparent

  .v-tabs-slider
    max-width: 30px
    margin: 0 auto

    .v-tab
      &::before
        display: none
</style>
