<template>
  <v-navigation-drawer app temporary v-bind="$attrs" v-on="$listeners">
    <v-list>
      <v-list-item
        v-for="(item, index) in items"
        :key="index"
        :to="{ path: item.path }"
        :exact="item.path === '/'"
      >
        <v-list-item-content>
          <v-list-item-title v-text="item.name" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'HomeDrawer',

  props: {
    items: {
      type: Array,
      default: () => []
    }
  },

  methods: {},

  computed: {}
}
</script>
