<template>
  <v-container
    fluid
    class="pa-0"
    style="background-color: #0d47a1; height: 120px"
    :style="{ height: $vuetify.breakpoint.mdAndUp ? '130px' : '180px' }"
  >
    <v-layout style="height: 100%">
      <v-container class="py-0 d-flex align-center">
        <v-row>
          <v-col cols="12" sm="12" md="5">
            <div
              id="links"
              style="height: 100%"
              class="d-flex flex-column"
              :class="{ 'align-center': !$vuetify.breakpoint.mdAndUp }"
            >
              <div class="d-flex flex-row">
                <v-btn
                  fab
                  x-small
                  class="mx-2"
                  href="https://web.facebook.com/Cevicher%C3%ADa-el-Punto-105976925128956"
                  target="_blank"
                  ><v-icon>mdi-facebook</v-icon></v-btn
                >
                <v-btn fab x-small class="mx-2"
                  ><v-icon>mdi-instagram</v-icon></v-btn
                >
              </div>
              <div class="d-flex flex-row white--text align-center mt-2">
                <p class="ma-2 white--text link" @click="changePage('/')">
                  Inicio
                </p>
                |
                <p class="ma-2 white--text link" @click="changePage('/carta')">
                  La Carta
                </p>
                |
                <p
                  class="ma-2 white--text link"
                  @click="changePage('/nosotros')"
                >
                  Nosotros
                </p>
                |
                <p
                  class="ma-2 white--text link"
                  @click="changePage('/contacto')"
                >
                  Contacto
                </p>
              </div>
            </div>
          </v-col>
          <v-spacer v-if="$vuetify.breakpoint.mdAndUp"></v-spacer>
          <v-col cols="12" sm="12" md="5">
            <div
              id="contact"
              class="d-flex flex-row align-center justify-center"
              style="height: 100%"
            >
              <v-icon left x-large color="white">mdi-moped</v-icon>
              <div class="white--text text-body-2 font-weight-light mx-2">
                Envíos a domicilio
              </div>
              <v-btn
                class="primary--text font-weight-black mx-2"
                href="tel:925200562"
                >925 200 562</v-btn
              >
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  methods: {
    changePage(to) {
      this.$router.push(to)
    }
  }
}
</script>

<style scoped>
.link {
  cursor: pointer;
}
</style>
