<template>
  <v-dialog v-bind="$attrs" v-on="$listeners" scrollable max-width="500px">
    <v-card>
      <transition name="component-fade" mode="out-in">
        <component v-bind:is="getView"></component>
      </transition>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data: function () {
    return {
      view: 'DialogResumen'
    }
  },

  computed: {
    ...mapGetters({
      getView: 'getDialogView'
    })
  }
}
</script>

<style scoped>
.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
