<template>
  <v-layout class="d-flex my-auto">
    <v-container
      :style="breakpoint.lgAndUp ? 'height: 66vh;' : 'height: 500px;'"
    >
      <v-row class="mt-lg-10 mt-0">
        <v-col cols="12" sm="12">
          <v-layout>
            <v-container
              class="d-flex align-center mx-0 px-0 my-12"
              style="height: 100%"
            >
              <v-row class="px-0">
                <v-col
                  cols="12"
                  sm="12"
                  md="6"
                  class="px-0"
                  v-if="$vuetify.breakpoint.lgAndUp"
                >
                  <v-img
                    contain
                    :src="getImg"
                    width="100%"
                    :height="breakpoint.xlOnly ? '65%' : '85%'"
                  ></v-img>
                </v-col>
                <v-col cols="12" sm="12" md="6" class="d-flex flex-column pb-6">
                  <v-container>
                    <div class="font-weight-black text-uppercase text-h5">
                      Bienvenido a Cevichería El Punto
                    </div>
                    <hr />
                    <div
                      class="my-4"
                      :class="
                        $vuetify.breakpoint.lgAndUp
                          ? 'text-h4 font-weight-thin'
                          : 'text-h6 font-weight-light'
                      "
                    >
                      Somos una gran familia dedicada a brindarles la mejor
                      experiencia culinaria. Abrimos nuestras puertas el año
                      2014, teniendo como ingrediente principal nuestros
                      pescados y mariscos de la región y del litoral peruano,
                      todo acompañado con insumos del agro ayacuchano.
                    </div>
                    <div>
                      <v-btn
                        tile
                        dark
                        color="primary"
                        @click="$router.push('/nosotros')"
                        >Leer Más</v-btn
                      >
                    </div>
                  </v-container>
                </v-col>
              </v-row>
            </v-container>
          </v-layout>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  data: function () {
    return {
      hydrated: null
    }
  },

  computed: {
    getImg() {
      return require('~/assets/img/index/bienvenido.png')
    },

    breakpoint() {
      return this.hydrated ? this.$vuetify.breakpoint : {}
    }
  },

  mounted() {
    this.hydrated = true
  }
}
</script>

<style scoped>
hr {
  border: none;
  height: 4px;
  background: black;
}
</style>
