<template>
  <v-container
    fluid
    class="pa-0"
    :class="breakpoint.lgAndUp ? 'rowContainer' : 'rowContainerMobile'"
  >
    <v-layout>
      <v-container fluid>
        <v-row>
          <v-col cols="12" sm="12" class="px-0">
            <v-container class="d-flex flex-column justify-center my-auto px-0">
              <v-layout>
                <v-container>
                  <v-row>
                    <v-col
                      class="mt-8 pt-8 pb-0"
                      :class="breakpoint.mdAndUp ? 'mx-2' : 'px-0'"
                    >
                      <div
                        class="text-uppercase font-weight-bold"
                        :class="
                          breakpoint.mdAndUp
                            ? 'text-h2 white--text'
                            : 'text-h3 text-center pb-6 font-weight-black black--text'
                        "
                      >
                        Nuestro Menú Goleador
                      </div>
                      <hr />
                    </v-col>
                  </v-row>
                  <v-row class="mt-8">
                    <v-col
                      v-for="(plato, index) in platos"
                      :key="index"
                      cols="12"
                      sm="12"
                      md="3"
                      class="d-flex flex-column justify-center align-center"
                    >
                      <v-card
                        flat
                        tile
                        height="250"
                        width="250"
                        @click="changeToMenu(plato.index)"
                      >
                        <v-img
                          height="250"
                          width="250"
                          contain
                          :src="require(`~/assets/img/index/${plato.img}`)"
                        ></v-img>
                      </v-card>
                      <div
                        class="
                          font-weight-light
                          text-h4 text-capitalize
                          mx-auto
                          my-4
                        "
                      >
                        {{ plato.tipo }}
                      </div>
                    </v-col>
                  </v-row>
                </v-container>
              </v-layout>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  data() {
    return {
      isHydrated: false,
      platos: [
        {
          img: 'CEVICHES.png',
          tipo: 'Ceviches',
          index: 1
        },
        {
          img: 'ARROCES.png',
          tipo: 'Arroces',
          index: 0
        },
        {
          img: 'CHICHARRONES.png',
          tipo: 'Chicharrones',
          index: 2
        },
        {
          img: 'LECHE-DE-TIGRE.png',
          tipo: 'Leche de Tigre',
          index: 8
        }
      ]
    }
  },

  methods: {
    changeToMenu(index) {
      this.changeTo(index)
      this.$router.push('/carta')
      const vm = this
      setTimeout(function () {
        vm.$vuetify.goTo('#platosTitle', {
          duration: 300,
          offset: 0,
          easing: 'easeInOutCubic'
        })
      }, 1000)
    },

    ...mapMutations({
      changeTo: 'updateTipoPlatoSeleccionado'
    })
  },

  computed: {
    breakpoint() {
      return this.isHydrated ? this.$vuetify.breakpoint : {}
    }
  },

  mounted() {
    this.isHydrated = true
  }
}
</script>

<style scoped>
.rowContainer {
  background-image: url('~/assets/img/background/textura_03.png');
  background-size: cover;
  background-position: right -100px;
}

.rowContainerMobile {
  background-repeat: repeat;
  height: 1600px;
}

hr {
  border: none;
  height: 4px;
  background: white;
}
</style>
