<template>
  <v-container
    fluid
    class="pa-0 imgContainer d-flex align-center"
    :style="$vuetify.breakpoint.lgAndUp ? 'height: 55vh;' : 'height: 600px;'"
  >
    <v-layout style="height: 100%">
      <v-container fluid>
        <v-row>
          <v-col cols="12" sm="12" class="d-flex justify-start align-center">
            <v-row>
              <v-col
                cols="12"
                sm="12"
                md="4"
                class="d-flex align-center justify-center"
                :class="$vuetify.breakpoint.lgAndUp ? '' : 'flex-column'"
                :style="
                  $vuetify.breakpoint.lgAndUp
                    ? ''
                    : 'height: 280px; margin-top: 40px'
                "
              >
                <transition name="fade" mode="out-in">
                  <v-img
                    :height="$vuetify.breakpoint.lgAndUp ? '75%' : '35%'"
                    contain
                    eager
                    :src="getOfertaImg"
                    :key="oferta_index"
                  ></v-img>
                </transition>
              </v-col>
              <v-col
                cols="12"
                sm="12"
                md="4"
                lg="5"
                :style="
                  $vuetify.breakpoint.lgAndUp ? 'width: 100%' : 'max-width: 75%'
                "
                :class="$vuetify.breakpoint.lgAndUp ? '' : 'mx-auto'"
              >
                <div
                  class="white--text font-weight-black text-uppercase"
                  :class="getTextClass"
                  :style="
                    $vuetify.breakpoint.lgAndUp ? 'margin-top: 120px' : ''
                  "
                >
                  Especialidades de casa
                </div>
                <hr class="my-4" />
                <v-container class="px-0 pt-0" style="min-height: 176px">
                  <transition name="fade" mode="out-in">
                    <div
                      class="white--text font-weight-bold text-capitalize my-2"
                      :class="getTextClass"
                      :key="oferta_index"
                    >
                      {{ getOferta.titulo }}
                    </div>
                  </transition>
                  <transition name="fade" mode="out-in">
                    <div
                      class="
                        white--text
                        font-weight-bold
                        text-uppercase text-h4
                        mt-4
                      "
                      :class="$vuetify.breakpoint.mdAndUp ? '' : 'text-center'"
                      :key="oferta_index"
                    >
                      {{ getOferta.precio }}
                    </div>
                  </transition>
                </v-container>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      oferta_index: 0,
      intervalo: null,
      intervalo_ms: 5000,
      lista_ofertas: [
        {
          img: 'ceviche_trucha.png',
          titulo: 'Ceviche de Trucha a base de jugo de Tumbo',
          precio: 'S/ 16.00'
        },
        {
          img: 'chicharron_pota.png',
          titulo: 'Chicharrón de Pota',
          precio: 'S/ 10.00'
        },
        {
          img: 'leche_tigre.png',
          titulo: 'Leche de Tigre con Chicharrón de Pota',
          precio: 'S/ 10.00'
        }
      ],
      hydrated: null
    }
  },

  computed: {
    getOferta() {
      return this.lista_ofertas[this.oferta_index]
    },
    getOfertaImg() {
      return require(`~/assets/img/index/${this.getOferta.img}`)
    },

    getTextClass() {
      let textClass = ''
      if (this.hydrated) {
        if (this.$vuetify.breakpoint.xlOnly) {
          textClass = 'text-h3'
        } else {
          if (this.$vuetify.breakpoint.lgOnly) {
            textClass = 'text-h5'
          } else {
            textClass = 'text-h6'
          }
        }
      }
      return textClass
    }
  },

  methods: {
    cambioIndice() {
      this.oferta_index =
        this.oferta_index + 1 < this.lista_ofertas.length
          ? this.oferta_index + 1
          : 0
    }
  },

  created() {
    this.oferta_index = Math.floor(Math.random() * this.lista_ofertas.length)
    this.cambioIndice()
    this.intervalo = setInterval(this.cambioIndice, this.intervalo_ms)
  },

  mounted() {
    this.hydrated = true
  },

  beforeDestroy() {
    if (this.intervalo) {
      clearInterval(this.intervalo)
      this.intervalo = undefined
    }
  }
}
</script>

<style scoped>
.imgContainer {
  background-image: url('~/assets/img/background/textura_02.png');
  background-size: cover;
  height: 400px;
  width: 100vw;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
hr {
  border: none;
  height: 4px;
  background: white;
}
</style>
