<template>
  <v-container fluid class="pa-0">
    <v-layout>
      <v-container
        fluid
        class="imgContainer d-flex align-start"
        :style="
          $vuetify.breakpoint.lgAndUp
            ? 'height: 70vh;'
            : 'height: 400px; max-width: 100vw'
        "
      >
        <v-row>
          <v-col
            cols="12"
            sm="12"
            md="6"
            :style="$vuetify.breakpoint.lgAndUp ? '' : 'max-width: 100vw'"
          >
            <v-img
              eager
              :class="{
                'ml-auto mr-12 my-8': $vuetify.breakpoint.lgAndUp,
                'mx-auto mt-4': $vuetify.breakpoint.mdAndDown
              }"
              contain
              :style="{
                'max-width': $vuetify.breakpoint.lgAndUp ? '50%' : '70%',
                'align-content': $vuetify.breakpoint.lgAndUp
                  ? 'flex-end'
                  : 'flex-start'
              }"
              :src="getLogoImg"
            ></v-img>
          </v-col>
          <v-col
            cols="12"
            sm="12"
            md="6"
            v-if="$vuetify.breakpoint.lgAndUp"
            class="pr-0"
          >
            <v-img
              eager
              style="margin-top: -32px"
              contain
              :src="getPlatoImg"
            ></v-img>
          </v-col>
        </v-row>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {}
  },
  computed: {
    getLogoImg() {
      return require('~/assets/img/logo/logo-big.png')
    },
    getPlatoImg() {
      return require('~/assets/img/index/plato_portada.png')
    }
  }
}
</script>

<style scoped>
.imgContainer {
  background-image: url('~/assets/img/background/textura_01.png');
  background-size: cover;
}
</style>
