<template>
  <v-layout class="px-0">
    <v-container fluid :class="$vuetify.breakpoint.lgAndUp ? 'px-0' : ''">
      <v-row class="rowContainer"
        ><v-col
          cols="12"
          sm="12"
          md="12"
          class="d-flex flex-column justify-center"
          ><v-container
            class="primary--text"
            :class="
              $vuetify.breakpoint.lgAndUp
                ? 'text-h1 font-weight-black'
                : 'text-h2 font-weight-bold'
            "
          >
            NUESTRO DT</v-container
          >
          <v-container
            :class="
              $vuetify.breakpoint.lgAndUp
                ? 'text-h3 font-weight-light'
                : 'text-h5 font-weight-medium'
            "
          >
            Cada una de las personas en nuestro equipo está comprometido a
            transportarte mediante nuestros sabores a una aventura memorable
          </v-container>
        </v-col></v-row
      >
    </v-container>
  </v-layout>
</template>

<script>
export default {
  computed: {
    getImg() {
      return require('~/assets/img/carta/plato.png')
    }
  }
}
</script>

<style scoped>
.rowContainer {
  background-image: url('~/assets/img/background/textura_01.png');
  background-size: cover;
  height: 400px;
}

.imageContainer {
  background-image: url('~/assets/img/background/textura_01.png');
}
</style>
