<template>
  <v-layout
    class="imgContainer"
    :style="breakpoint.lgAndUp ? 'height: 500px;' : 'height: 1250px;'"
  >
    <v-container
      fluid
      :class="$vuetify.breakpoint.lgAndUp ? 'd-flex align-center' : ''"
    >
      <v-row class="my-8">
        <v-col
          cols="12"
          xs="12"
          md="4"
          v-for="(logro, index) in logros"
          :key="index"
        >
          <v-card style="height: 100%" elevation="4">
            <v-img eager :src="getImgSrc(logro.src)" class="d-flex align-end">
              <v-sheet
                color="white"
                min-height="90px"
                class="d-flex align-center sheet"
              >
                <div
                  v-html="logro.html"
                  class="text-center"
                  style="width: 100%"
                ></div>
              </v-sheet>
            </v-img>
          </v-card>
        </v-col>
        <div
          class="
            text-center
            white--text
            text-h2
            d-flex
            justify-center
            font-weight-bold
          "
          style="width: 100%"
        >
          NUESTROS LOGROS
        </div>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      hydrated: null,
      logros: [
        {
          src: 'PARTICIPAMOS-EN-FERIAS.png',
          html: 'Fuimos participantes destacados en las diferentes ferias gastronómicas de la región como: <b>“Sabor y Tradición”, “Ayacucho mucho gusto”.</b>'
        },
        {
          src: 'CEVICHE-DE-TRUCHA.png',
          html: 'Nuestro plato bandera el <b>“Ceviche de trucha”</b> tuvo una gran acogida en las diferentes ferias gastronómicas de la región.'
        },
        {
          src: 'GANADORES-DE-TURISMO-EMPRENDE.png',
          html: 'Somos ganadores del Programa<br/> <b>“Turismo Emprende”.</b>'
        }
      ]
    }
  },

  methods: {
    getImgSrc(src) {
      return require(`~/assets/img/nosotros/${src}`)
    }
  },

  computed: {
    breakpoint() {
      return this.hydrated ? this.$vuetify.breakpoint : {}
    }
  },

  mounted() {
    this.hydrated = true
  }
}
</script>

<style scoped>
.imgContainer {
  background-image: url('~/assets/img/background/textura_02.png');
  background-size: cover;
}

.sheet {
  opacity: 0.75;
}
</style>
