<template>
  <v-layout>
    <v-container fluid>
      <v-row>
        <v-col cols="12" sm="12" md="6">
          <v-img contain :src="getImg" width="100vw"></v-img>
        </v-col>
        <v-col
          cols="12"
          sm="12"
          md="6"
          class="d-flex flex-column justify-center"
        >
          <v-container fluid class="pt-0">
            <div id="mision" class="py-4">
              <div
                class="font-weight-bold"
                :class="breakpoint.xlOnly ? 'text-h3' : 'text-h5'"
              >
                Nuestra Misión
              </div>
              <hr />
              <div
                class="my-2 font-weight-light"
                :class="breakpoint.xlOnly ? 'text-h5' : 'text-body-1'"
              >
                Somos una empresa gastronómica en el rubro de la comida marina
                que ofrece sus productos de calidad, presentaciones innovadoras,
                higiénicas, extraordinario servicio al cliente, asimismo
                utilizamos insumos frescos de la región para conquistar los
                paladares de nuestros consumidores.
              </div>
            </div>
            <div id="vision" class="py-4">
              <div
                class="font-weight-bold"
                :class="breakpoint.xlOnly ? 'text-h3' : 'text-h5'"
              >
                Nuestra Visión
              </div>
              <hr />
              <div
                class="my-2 font-weight-light"
                :class="breakpoint.xlOnly ? 'text-h5' : 'text-body-1'"
              >
                Ser líder entre las empresas de gastronomía en el rubro de
                comida marina, con un 20% del mercado local, y con una marca
                posicionada a nivel regional y nacional.
              </div>
            </div>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  data: function () {
    return {
      hydrated: null
    }
  },

  computed: {
    getImg() {
      return require('~/assets/img/nosotros/MISION.png')
    },

    breakpoint() {
      return this.hydrated ? this.$vuetify.breakpoint : {}
    }
  },

  mounted() {
    this.hydrated = true
  }
}
</script>

<style>
</style>
