<template>
  <v-layout class="my-12">
    <v-container>
      <v-row>
        <v-col
          cols="12"
          sm="12"
          md="6"
          class="d-flex flex-column justify-center"
        >
          <v-container fluid class="pt-0">
            <div id="mision" class="py-4">
              <div
                class="font-weight-black primary--text text-uppercase"
                :class="breakpoint.xlOnly ? 'text-h2' : 'text-h4'"
              >
                Protocolo Anti Covid
              </div>
              <div
                class="my-2 font-weight-light"
                :class="breakpoint.xlOnly ? 'text-h4' : 'text-body-1'"
              >
                Proteger la salud y la seguridad de nuestros clientes y
                trabajadores es nuestra prioridad. Por ello nuestro espacio de
                atención y trabajo están purificados y saludables, gracias a la
                implementación de equipos sofisticados que generan barreras
                protectoras, como:
              </div>
              <div
                class="font-weight-bold"
                :class="breakpoint.xlOnly ? 'text-h4' : 'text-h6'"
              >
                Lavaderos de mano
              </div>
              <hr />
              <div
                class="mb-4 font-weight-light"
                :class="breakpoint.xlOnly ? 'text-h5' : 'text-body-1'"
              >
                Contamos con un sofisticado equipo para el lavado de manos.
              </div>
              <div
                class="font-weight-bold"
                :class="breakpoint.xlOnly ? 'text-h4' : 'text-h6'"
              >
                Sistema de desinfección con Ozono
              </div>
              <hr />
              <div
                class="mb-4 font-weight-light"
                :class="breakpoint.xlOnly ? 'text-h5' : 'text-body-1'"
              >
                Elimina cualquier partícula: Virus, bacterias, componentes
                orgánicos e inorgánicos en nuestros ambientes.
              </div>
              <div
                class="font-weight-bold"
                :class="breakpoint.xlOnly ? 'text-h4' : 'text-h6'"
              >
                Sistema de desinfección con UV en nuestro servicio delivery
              </div>
              <hr />
              <div
                class="mb-4 font-weight-light"
                :class="breakpoint.xlOnly ? 'text-h5' : 'text-body-1'"
              >
                Tus pedidos están protegidos con la eliminación de virus y
                bacterias a través de los rayos ultravioleta.
              </div>
            </div>
          </v-container>
        </v-col>
        <v-col cols="12" sm="12" md="6">
          <v-img contain :src="getImg" width="100vw"></v-img>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  data: function () {
    return {
      hydrated: null
    }
  },

  computed: {
    getImg() {
      return require('~/assets/img/nosotros/FOTO-ANTI-COVID2.png')
    },

    breakpoint() {
      return this.hydrated ? this.$vuetify.breakpoint : {}
    }
  },

  mounted() {
    this.hydrated = true
  }
}
</script>

<style>
</style>
