<template>
  <v-app>
    <LayoutAppbar />
    <v-main>
      <nuxt />
    </v-main>
    <ClientOnly>
      <LayoutFooter />
    </ClientOnly>
  </v-app>
</template>

<script>
export default {}
</script>
