<template>
  <div>
    <ClientOnly>
      <CartaBanner />
      <CartaListado />
      <CartaTitulo />
      <CartaListaPlatos />
    </ClientOnly>
  </div>
</template>

<script>
export default {}
</script>
