<template>
  <div>
    <ContactoBanner />
    <ContactoMapa />
    <!-- <ClientOnly>
      <CartaListado />
      <CartaTitulo />
      <CartaListaPlatos />
    </ClientOnly> -->
  </div>
</template>

<script>
export default {}
</script>
