<template>
  <div>
    <ClientOnly>
      <IndexTituloPresentacion />
    </ClientOnly>
    <IndexOfertas />
    <IndexMenu />
    <IndexBienvenido />
  </div>
</template>

<script>
export default {}
</script>
