<template>
  <div>
    <NosotrosBanner />
    <NosotrosMisionVision />
    <NosotrosLogros />
    <NosotrosProtocolo />
    <!-- <ClientOnly>
      <CartaListado />
      <CartaTitulo />
      <CartaListaPlatos />
    </ClientOnly> -->
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>
