<template>
  <v-layout
    :class="breakpoint.mdAndUp ? 'backgroundContainer' : 'imageContainer'"
  >
    <v-container fluid class="px-0">
      <v-row style="width: 100%" class="mx-0">
        <template v-if="!breakpoint.lgAndUp">
          <v-col cols="12" sm="12" class="px-0">
            <div
              class="
                text-h2
                primary--text
                font-weight-black
                text-uppercase text-center
                my-4
                px-0
              "
            >
              Nuestros Jugadores
            </div>
          </v-col>
        </template>
        <template v-else>
          <v-spacer></v-spacer>
          <v-col
            cols="12"
            sm="12"
            md="5"
            xl="3"
            class="d-flex flex-column justify-center"
          >
            <div
              class="text-h2 secondary--text font-weight-black text-uppercase"
            >
              Nuestros
            </div>
            <div class="text-h1 primary--text font-weight-black text-uppercase">
              Jugadores
            </div>
          </v-col>
        </template>

        <v-col cols="12" sm="12" md="6" class="d-flex justify-end px-0 mx-0">
          <v-img
            style="margin-top: -42px"
            :max-width="$vuetify.breakpoint.lgAndUp ? '730px' : '600px'"
            contain
            :src="getImg"
          ></v-img>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  data: function () {
    return {
      hydrated: null
    }
  },

  computed: {
    getImg() {
      return require('~/assets/img/carta/plato-principal.png')
    },

    breakpoint() {
      return this.hydrated ? this.$vuetify.breakpoint : {}
    }
  },

  mounted() {
    this.hydrated = true
  }
}
</script>

<style scoped>
.backgroundContainer {
  background-image: url('~/assets/img/carta/background.png');
  background-size: cover;
  height: 400px;
  width: 100%;
}

.imageContainer {
  background-image: url('~/assets/img/background/textura_01.png');
}
</style>
