<template>
  <v-container fluid id="platosContainer">
    <v-layout>
      <v-row style="width: 100%">
        <v-col cols="12" sm="12">
          <v-container class="my-8">
            <v-row ref="platosContainer">
              <v-col
                cols="12"
                sm="12"
                md="4"
                class="d-flex flex-column"
                v-for="(plato, index) in listaPlatos"
                :key="index"
              >
                <v-card elevation="4">
                  <v-img
                    eager
                    :src="require(`~/assets/img/carta/${plato.src}`)"
                  ></v-img>
                  <v-card-title>
                    {{ plato.nombre }}
                  </v-card-title>

                  <v-card-subtitle> S/ {{ plato.precio }} </v-card-subtitle>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn dark class="primary" @click="agregarPedido(plato)"
                      ><v-icon left>mdi-cart-arrow-down</v-icon>Agregar
                      Pedido</v-btn
                    ></v-card-actions
                  >
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      listaPlatos: 'getListaPlatosSeleccionado'
    })
  },

  methods: {
    ...mapMutations({
      agregarPedido: 'addPedido'
    })
  }
}
</script>

<style>
</style>
