<template>
  <v-container fluid :class="$vuetify.breakpoint.lgAndUp ? '' : 'mb-6'">
    <v-layout>
      <v-row :class="$vuetify.breakpoint.lgAndUp ? 'imgContainer' : ''">
        <v-col cols="12" sm="12" class="px-0" style="width: 100%">
          <v-container
            class="d-flex flex-column justify-center my-auto"
            style="height: 100%"
          >
            <v-row class="mt-0 d-flex align-center">
              <v-col
                cols="12"
                sm="12"
                class="white--text justify-center align-center"
                style="max-width: 100%"
              >
                <template v-if="hydrated">
                  <split-carousel
                    :height="
                      breakpoint.xlAndUp ? 200 : breakpoint.lgAndUp ? 180 : 180
                    "
                    :item-width="
                      breakpoint.xlAndUp ? 250 : breakpoint.lgAndUp ? 200 : 200
                    "
                    :display-amount="
                      breakpoint.xlAndUp ? 6 : breakpoint.lgAndUp ? 5 : 1
                    "
                    :speed="950"
                    :class="breakpoint.lgAndUp ? '' : 'mx-8'"
                  >
                    <v-icon
                      x-large
                      :color="breakpoint.lgAndUp ? 'white' : 'primary'"
                      slot="left-arrow"
                      >mdi-chevron-left</v-icon
                    >
                    <split-carousel-item
                      v-for="(plato, index) in platos"
                      :key="index"
                    >
                      <v-hover>
                        <template v-slot:default="{ hover }">
                          <v-card>
                            <v-img
                              height="180"
                              width="100%"
                              aspect-ratio="2"
                              :src="require(`~/assets/img/carta/${plato.src}`)"
                            ></v-img>

                            <v-fade-transition>
                              <v-overlay
                                v-if="
                                  $vuetify.breakpoint.lgAndUp ? hover : showName
                                "
                                absolute
                                opacity="0.75"
                                color="#212121"
                              >
                                <div
                                  class="
                                    white--text
                                    text-h6
                                    font-weight-bold
                                    d-flex
                                    justify-center
                                  "
                                >
                                  {{ plato.tipo }}
                                </div>
                                <v-btn
                                  small
                                  color="primary"
                                  class="ma-2"
                                  @click="cambiarTipoPlatos(index)"
                                  >Ver Platos</v-btn
                                >
                              </v-overlay>
                            </v-fade-transition>
                          </v-card>
                        </template>
                      </v-hover>

                      <p class="black--text">{{ plato.tipo }}</p>
                    </split-carousel-item>
                    <v-icon
                      x-large
                      :color="breakpoint.lgAndUp ? 'white' : 'primary'"
                      slot="right-arrow"
                      >mdi-chevron-right</v-icon
                    >
                  </split-carousel>
                </template>
                <template v-else>
                  <v-progress-circular
                    :size="70"
                    :width="7"
                    color="primary"
                    indeterminate
                  ></v-progress-circular>
                </template>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  data: function () {
    return {
      hydrated: null,
      showName: true
    }
  },

  computed: {
    ...mapGetters({
      platos: 'getListaTipoPlatos'
    }),

    breakpoint() {
      return this.hydrated ? this.$vuetify.breakpoint : {}
    }
  },

  methods: {
    cambiarTipoPlatos(index) {
      this.seleccionarTipoPlatos(index)
      this.$vuetify.goTo('#platosTitle', {
        duration: 300,
        offset: 0,
        easing: 'easeInOutCubic'
      })
    },

    ...mapMutations({
      seleccionarTipoPlatos: 'updateTipoPlatoSeleccionado'
    })
  },

  mounted() {
    this.hydrated = true
  }
}
</script>

<style scoped>
.imgContainer {
  background-image: url('~/assets/img/carta/background_02.png'),
    url('~/assets/img/carta/background_03.png');
  background-position: left top, bottom center;
  height: 380px;
  background-size: contain;
}

hr {
  border: none;
  height: 4px;
  background: white;
}
</style>
