<template>
  <v-container fluid id="platosTitle">
    <v-layout>
      <v-row class="primary d-flex align-center" style="height: 125px">
        <v-col cols="12" sm="12">
          <div
            class="separator font-weight-bold white--text"
            :class="breakpoint.xlOnly ? 'text-h2' : 'text-h4'"
          >
            {{ tipoPlato.tipo }}
          </div>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: function () {
    return {
      hydrated: null
    }
  },

  computed: {
    ...mapGetters({
      tipoPlato: 'getListaTipoPlatoSeleccionado'
    }),

    getImg() {
      return require('~/assets/img/nosotros/MISION.png')
    },

    breakpoint() {
      return this.hydrated ? this.$vuetify.breakpoint : {}
    }
  },

  mounted() {
    this.hydrated = true
  }
}
</script>

<style scoped>
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 2em;
  margin-left: 2em;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 3px solid #fff;
}

.separator:not(:empty)::before {
  margin-right: 1.25em;
}

.separator:not(:empty)::after {
  margin-left: 1.25em;
}
</style>
